<section>
    <h2 data-bind="html: displayName"></h2>
    
    <div class="row-fluid">
        <div class="span2">
            
        </div>
        <div class="span4">
            <p>Select a Team</p>
            <p><select data-bind="options: teamList, optionsText: 'title', optionsValue: 'id', value: selectedTeam" size="5"></select></p>
        </div>
        <div class="span4">
            <input type="text" data-bind="value: teamTitle" />
            <p><a href="#" class="btn" data-bind="click: click_AddTeam">Add Team</a></p>
        </div>
        <div class="span2">
            
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span2">
            
        </div>
        <div class="span8">

            <table class="table table-condensed table-striped table-bordered table-hover dataTables_paginate">
                <caption>Menu Items</caption>
                <thead>
                    <tr>
                        <th>Menu Id</th>
                        <th>Menu Title</th>
                        <th>Team</th>
                        <th>Use?</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { foreach: teamMenuList }">
            
                    <tr >
                        <td>
                            <span data-bind="text: $data.id" ></span>
                        </td>
                        <td>
                            <span data-bind="text: $data.menuTitle" ></span>
                        </td>
                        <td>
                            <span data-bind="text: $data.teamTitle" ></span>
                        </td>                                    
                        <td>
                            <input type="checkbox" data-bind="checked: $data.use" />
                        </td>
                    </tr>
                </tbody>
            </table>
                  
        </div>
        
        <div class="span2">
            
        </div>

    </div>
          
    <div class="row-fluid">
        <div class="span6">
            Sections
        </div>
     </div>
        
</section>