@model EM.Cloud.KO_CMS.Controllers.TemplatesViewModel

@{
ViewBag.Title = "Razor Template";
    }
    <div id="radialDashboardWidget" class="well well-large span12" >
       <h2 data-bind="html: templateData"></h2>
        
        <p>Razor Template!!!!</p>

        <!-- add more HTML -->
    </div>